.footer{
    display: flex;
    flex-direction: column;
    min-width: 100%;
}

.footer-hero{
    display: flex;
    height: 85px;
    
    justify-content: space-around;
    align-items: center;
    background-color: #dc9a4fc4;
}

.footer-links-nav{
    width: 200px;
    font-size: 25px;
    display: flex;
    justify-content: space-evenly;
}

.footer-links-sociales{
    width: 450px;
    font-size: 25px;
    display: flex;
    justify-content: space-evenly; 
}

.footer-down{
 text-align: center;
 background-color: rgba(22, 22, 22, 0.958);
 min-width: 100%;
}

a{
    text-decoration: none;
    color: black;
}

@media(min-width: 320px){

    .footer-hero{
        display: flex;
        flex-direction: column;
        height: 200px;
        
        justify-content: space-around;
        align-items: center;
        background-color: #dc9a4fc4;
    }
    .footer-links-nav{
        font-size: 20px;
    }
    .footer-links-sociales{
        width: 200px;
        font-size: 15px;
    }
    .footer-down{
        min-width: 100;
        text-align: center;
        font-size: 10px;
       
        background-color: rgb(59, 59, 59);
        margin-right: 30px;
       }
}



