.CardDetails-container{
    
     width: 100%;
     min-height: 100vh;
     background-color: wheat;
     
 }
 .h2-cardDetails{
    font-family: fantasy;
    font-size: 30px;
 }
 .carousel-container{
    display: flex; 
    width: 290px;
    justify-content: center;
    
    margin: 20px;
    background-color: rgb(248, 215, 153);
    height: 350px;
   
}

.h2-details{
    font-family: fantasy;
    font-size: 30px;
}
.carousel-card{
width: 290px;
background-color: rgb(233, 233, 233);
box-shadow: 4px 5px 3px rgb(110, 110, 110);
margin-top: 15px;
margin-left: 25px;
}

.descripcion-details{
    padding: 20px;
    font-size: 15px;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
}

.carousel-card-tittle{
    text-align: center;
    font-size: 20px;
}
 .searchContainer{
     background-color: wheat;
     display: flex;
     justify-content: center;
 }

 .CardDetails-container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
 }

 .detail-image{
    min-width: 100%;
    height: 40vh;
    object-fit: cover;
    box-shadow: 0 5px 10px black;
 }

 .botonNC{
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .back{
    text-decoration: none;
    color: black;
 }

 .p-detail{
    font-weight: bold;
    margin-bottom: 0px;
 }

 .city-description{
    max-width: 80%;
 }

 @media(max-width: 425px){
    .detail-image{
       
        height: 30vh;
     }
}