.footer-links-nav{
    width: 80vh;
    
    display: flex;
    justify-content: space-around;
    }
    .links{
        text-decoration: none;
        color: black;
    }

    @media(max-width: 425px){
        .footer-links-nav{
            width: 58vh;
        }
    }

    @media(min-width: 1000px){
        .footer-link{
            font-size: 20px;
        }
    }