.itineraryCard-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
     width: 100%;
     
 }
 .tittle-itinerary{
    text-align: center;
    font-family: fantasy;
 }
 .itinerary-card{
 position: relative;
 width: 290px;
 height: 320px;
 margin: 15px;
 }
 
 

 
 @media(min-width: 768px){
     .card{
         width: 290px;
         
         
         }
 }