.container-itineraries{
    margin: 0;
    padding: 0;
    background-color: aquamarine;
}
 .tittle-itinerary{
    text-align: center;
    font-family: fantasy;
    font-size: 30px;
 }

 .itinerary-data{
    text-align: center;
    font-family: 'Varela Round', sans-serif;

 }

 
 

 
 @media(min-width: 768px){
     .card{
         width: 290px;
         
         
         }
 }